## initialization

### imports

In [1]:
from initailFunctionsPath import *

### Spark instaniation

In [2]:
conf = SparkConf()
(conf
.set('spark.driver.memory', '140g')
.set('spark.executer.cores', '58')
.set('spark.shuffle.service.index.cache.size', '3g')
.setAppName('Practice') )
sc = SparkContext.getOrCreate(conf=conf)
spark = SparkSession(sc)

## data inputs

### load daily price and shrout data

In [ ]:
price_df = (
    spark.read.parquet(PRICE_PATH + '/Cleaned_Stock_Prices_14001127.parquet')
    .filter(F.col('jalaliDate').between(MIN_ANALYSIS_DATE, MAX_ANALYSIS_DATE))
    .select(
        F.col('jalaliDate').alias('date'),
        F.col('name').alias('symbol'),
        'close_price',
        'close_price_adjusted',
        'shrout',
        (F.col('MarketCap') / 10**7).alias('mktcap')
    )
)

display_df(price_df)

In [ ]:
MIN_PRICE_DATE = price_df.agg(F.min('date')).collect()[0][0]
MAX_PRICE_DATE = price_df.agg(F.max('date')).collect()[0][0]
min_max(price_df)

### load valid symbols data

In [7]:
valid_symbols_df = (
    spark.read.parquet(VALID_SYMBOLS_PATH + '/validSymbols.parquet')
)

display_df(valid_symbols_df)

1279
+------+
|symbol|
+------+
|ختوقا |
|همراه |
|بالاس |
+------+
only showing top 3 rows

### load daily trade data

In [9]:
trade_df = (
    spark.read.parquet(PATH_PORTFOLIO + '/trade_df.parquet')
    .join(valid_symbols_df, on = ['symbol'], how = 'inner')
)

display_df(trade_df)

297552089
+------+--------+------------+----------+--------------------+--------------+---------------+-----------+------------+----------------+-----------------+
|symbol|date    |nTradeShares|tradePrice|tradeSettlementValue|buyerAccountId|sellerAccountId|buyerBroker|sellerBroker|buyerBrokerGroup|sellerBrokerGroup|
+------+--------+------------+----------+--------------------+--------------+---------------+-----------+------------+----------------+-----------------+
|وسپه  |13980105|13780       |2198.0    |3.028844            |6514269       |7307492        |pf         |tm          |125             |189              |
|شجم   |13980105|12000       |3100.0    |3.72                |9686994       |10950052       |3G         |3H          |112             |174              |
|شیران |13980105|47130       |4772.0    |22.490436           |3868828       |4980976        |R5         |IZ          |133             |442              |
+------+--------+------------+----------+--------------------+--------------+---------------+-----------+------------+----------------+-----------------+
only showing top 3 rows

In [10]:
print('missing nTradeShares: ', round(trade_df.filter(F.col('nTradeShares') == 0).count() / trade_df.count(), 5))
print('missing tradeSettlementValue: ', round(trade_df.filter(F.col('tradeSettlementValue') == 0).count() / trade_df.count(), 5))

missing nTradeShares:  0.0
missing tradeSettlementValue:  0.0

### load initial portfolio data

In [11]:
portfolio_df = (
    spark.read.parquet(PATH_PORTFOLIO + '/portfolio_df.parquet')
    .join(valid_symbols_df, on = ['symbol'], how = 'inner')
)

display_df(portfolio_df)

8777463
+------+---------+--------+-----------+
|symbol|accountId|date    |nHeldShares|
+------+---------+--------+-----------+
|زنجان |1367989  |13980105|1014       |
|سغربح |7254749  |13980105|1333       |
|واحصا |9329438  |13980105|2640       |
+------+---------+--------+-----------+
only showing top 3 rows

### load daily portfolio data

In [12]:
daily_portfolio_df = (
    spark.read.parquet(PATH_PORTFOLIO + '/daily_portfolio_df.parquet')
    .join(valid_symbols_df, on = ['symbol'], how = 'inner')
)

display_df(daily_portfolio_df)

147444172
+------+---------+--------+------------------+----------+---------+
|symbol|accountId|date    |heldShares        |netCashOut|netCashIn|
+------+---------+--------+------------------+----------+---------+
|وملل  |33       |13980708|31636.363636363636|0.0       |-5.62    |
|وملل  |33       |13981003|0.8496176720473159|6.774     |-5.62    |
|کروی  |33       |13980105|22847.89644012945 |0.0       |0.0      |
+------+---------+--------+------------------+----------+---------+
only showing top 3 rows

### load adjusted initial portfolio data

In [13]:
adjusted_portfolio_df = (
    spark.read.parquet(PATH_PORTFOLIO + '/adjusted_portfolio_df.parquet')
    .join(valid_symbols_df, on = ['symbol'], how = 'inner')
)

display_df(adjusted_portfolio_df)

8874015
+------+--------+---------+-----------------+
|symbol|date    |accountId|nHeldShares      |
+------+--------+---------+-----------------+
|بزاگرس|13980105|9817865  |925.1959619952494|
|بزاگرس|13980105|13793671 |925.1959619952494|
|بزاگرس|13980105|3732476  |927.2565320665083|
+------+--------+---------+-----------------+
only showing top 3 rows

In [ ]:
# Why count(adjusted_portfolio_df) > count(portfolio_df)

### load invalid holdings data (negative number of shares!)

In [14]:
invalid_holdings_df = (
    spark.read.parquet(PATH_PORTFOLIO + '/invalid_holdings_df.parquet')
    .join(valid_symbols_df, on = ['symbol'], how = 'inner')
)

display_df(invalid_holdings_df)

22984360
+------+---------+--------------+
|symbol|accountId|invalidHolding|
+------+---------+--------------+
|کویر  |28       |1             |
|زماهان|52       |1             |
|شتران |471      |1             |
+------+---------+--------------+
only showing top 3 rows

### load flat daily trade data

In [16]:
flat_trade_df = (
    spark.read.parquet(PATH_PORTFOLIO + '/flat_trade_df.parquet')
    .join(valid_symbols_df, on = ['symbol'], how = 'inner')
)

display_df(flat_trade_df)

139935727
+------+---------+--------+-------------------+-------+------------------+
|symbol|accountId|date    |nTradeShares       |cashOut|cashIn            |
+------+---------+--------+-------------------+-------+------------------+
|سشمال |176      |13990407|-20.70546145676114 |0.03704|0.0               |
|سشمال |176      |13990313|-4089.2215818925915|5.01887|0.0               |
|سشمال |176      |13990210|4242.549203373946  |0.0    |-4.575900000000001|
+------+---------+--------+-------------------+-------+------------------+
only showing top 3 rows

### load adjusted flat trade data

In [17]:
adjusted_raw_flat_trade_df = (
    spark.read.parquet(PATH_PORTFOLIO + '/adjusted_raw_flat_trade_df.parquet')
    .join(valid_symbols_df, on = ['symbol'], how = 'inner')
)

display_df(adjusted_raw_flat_trade_df)

214567502
+------+--------+---------+------------------+-------+---------+
|symbol|date    |accountId|nTradeShares      |cashOut|cashIn   |
+------+--------+---------+------------------+-------+---------+
|جم    |13980105|175501   |1153.305806451613 |0.0    |-0.814023|
|جم    |13980105|192696   |-4925.686594982079|3.45135|0.0      |
|جم    |13980105|408559   |733.7622939068101 |0.0    |-0.517902|
+------+--------+---------+------------------+-------+---------+
only showing top 3 rows

In [ ]:
# wwhy count(adjusted_raw_flat_trade_df) > count(flat_trade_df)?

## data preparation

### find new entrants

In [18]:
new_entrant_account_ids_df = (
    flat_trade_df
    .groupBy('accountId')
    .agg(
        F.min('date').alias('firstDate')
    )
    .join(portfolio_df.select('accountId').distinct(), on = ['accountId'], how = 'left_anti')
)

display_df(new_entrant_account_ids_df)

3704625
+---------+---------+
|accountId|firstDate|
+---------+---------+
|964      |13980708 |
|1697     |13990231 |
|1950     |13980701 |
+---------+---------+
only showing top 3 rows

In [19]:
(
    new_entrant_account_ids_df
    .write.mode('overwrite').parquet(PATH_OUTPUT.format('new_entrant_account_ids.parquet'))
)

### time series of new entrants

In [20]:
new_entrants_time_series_df = (
    flat_trade_df
    .select('date', 'accountId')
    .dropDuplicates()
    .join(new_entrant_account_ids_df, on = 'accountId', how = 'inner')
    .withColumn('rank', F.row_number().over(Window.partitionBy('accountId').orderBy('date')))
    .filter(F.col('rank') == 1)
    .drop('rank')
    .groupBy('date')
    .count()
    .orderBy('date')
)

display_df(new_entrants_time_series_df)

301
+--------+-----+
|date    |count|
+--------+-----+
|13980105|20   |
|13980106|346  |
|13980107|392  |
+--------+-----+
only showing top 3 rows

In [22]:
(
    new_entrants_time_series_df
    .write.mode('overwrite').parquet(PATH_OUTPUT + '/new_entrantd_time_series_df.parquet')
)

### calculate gain from trade

In [24]:
gain_from_trade_df = (
    flat_trade_df
    .groupBy('accountId')
    .agg(
        F.sum('cashOut').alias('netCashOut'),
        F.sum('cashIn').alias('netCashIn')
    )
)

display_df(gain_from_trade_df)

4931399
+---------+----------+-------------------+
|accountId|netCashOut|netCashIn          |
+---------+----------+-------------------+
|8484     |9.1814955 |-28.470893500000003|
|26543    |62.2021273|-90.9388771        |
|31156    |0.0       |-52.106050499999995|
+---------+----------+-------------------+
only showing top 3 rows

### calculate value of the initial portfolio

In [25]:
initial_portfolio_value_df = (
    adjusted_portfolio_df
    .join(price_df.select('date', 'symbol', 'close_price_adjusted'), on = ['date', 'symbol'], how = 'left')
    .withColumnRenamed('close_price_adjusted','close_price')
    .dropna(subset = ['close_price'])
    .join(invalid_holdings_df, on = ['accountId', 'symbol'], how = 'left')
    .filter(F.col('invalidHolding').isNull())
    .withColumn('value', F.col('nHeldShares') * F.col('close_price'))
    .groupBy('accountId')
    .agg(
        (F.sum('value') / 10**7).alias('initialPortfolioValue')
    )
)

display_df(initial_portfolio_value_df)

4181527
+---------+---------------------+
|accountId|initialPortfolioValue|
+---------+---------------------+
|50219    |0.5334175            |
|81085    |51.522831599999996   |
|133042   |0.045924000000000006 |
+---------+---------------------+
only showing top 3 rows

In [26]:
print(initial_portfolio_value_df.filter(F.col('initialPortfolioValue').isNull()).count())
print(initial_portfolio_value_df.filter(F.col('initialPortfolioValue') <= 0).count())

0
0

### calculate value of the final portfolio

In [27]:
final_portfolio_value_df = (
    daily_portfolio_df
    .withColumn('rowNumber', F.row_number().over(Window.partitionBy('accountId', 'symbol').orderBy('date')))
    .withColumn('maxRowNumber', F.max('rowNumber').over(Window.partitionBy('accountId', 'symbol')))
    .filter(F.col('rowNumber') == F.col('maxRowNumber'))
    .filter(F.col('heldShares') > 0)
    .withColumn('date', F.lit(MAX_PRICE_DATE))
    .join(price_df.select('date', 'symbol', 'close_price_adjusted'), on = ['date', 'symbol'], how = 'left')
    .withColumnRenamed('close_price_adjusted','close_price')
    .dropna(subset = ['close_price'])
    .withColumn('value', F.col('heldShares') * F.col('close_price'))
    .groupBy('accountId')
    .agg(
        (F.sum('value') / 10**7).alias('finalPortfolioValue')
    )   
)

display_df(final_portfolio_value_df)
# count after join?

7895191
+---------+-------------------+
|accountId|finalPortfolioValue|
+---------+-------------------+
|3305619  |72.21817466069629  |
|3873383  |15.727944907144892 |
|6391901  |544.6224352203332  |
+---------+-------------------+
only showing top 3 rows

In [28]:
print(final_portfolio_value_df.filter(F.col('finalPortfolioValue').isNull()).count())
print(final_portfolio_value_df.filter(F.col('finalPortfolioValue') <= 0).count())

0
0

### symbols in with-one-symbol portfolios

In [29]:
stock_count_within_portfolio_df = ( 
    daily_portfolio_df
    .dropDuplicates(subset= ['accountId','symbol'])
    .withColumn('numberOfStocks', F.row_number().over(Window.partitionBy('accountId').orderBy(F.desc('heldShares'))))
    .withColumn('numberOfStocks', F.max('numberOfStocks').over(Window.partitionBy('accountId')))
)

display_df(stock_count_within_portfolio_df)

67762383
+------+---------+--------+------------------+----------+----------+--------------+
|symbol|accountId|date    |heldShares        |netCashOut|netCashIn |numberOfStocks|
+------+---------+--------+------------------+----------+----------+--------------+
|سکارون|26       |13980105|864.5322381930185 |0.0       |0.0       |1             |
|خاور  |964      |13981129|39352.3345323741  |0.0       |-1.0949575|102           |
|البرز |964      |13990118|30171.907756813416|0.0       |-2.8536   |102           |
+------+---------+--------+------------------+----------+----------+--------------+
only showing top 3 rows

In [30]:
symbols_in_one_symbol_portfolios_df = (
    stock_count_within_portfolio_df
    .filter(F.col('numberOfStocks') == 1)
    .withColumn('accountNumbers', F.row_number().over(Window.partitionBy('symbol').orderBy(F.desc('heldShares'))))
    .withColumn('accountNumbers', F.max('accountNumbers').over(Window.partitionBy('symbol')))
    .dropDuplicates(subset = ['symbol'])
    .select(
        F.col('symbol'),
        F.col('accountNumbers'),
    )
    .orderBy(F.desc('accountNumbers'))
)

display_df(symbols_in_one_symbol_portfolios_df)

720
+------+--------------+
|symbol|accountNumbers|
+------+--------------+
|آریا  |222152        |
|سمایه |193119        |
|وتوصا |147380        |
+------+--------------+
only showing top 3 rows

In [31]:
(
    symbols_in_one_symbol_portfolios_df
    .write.mode('overwrite').parquet(PATH_OUTPUT + '/symbols_in_one_symbol_portfolios_df.parquet')
)

### time series of the net cash-in

In [32]:
max_portfolio_value_df = (
    final_portfolio_value_df
    .join(initial_portfolio_value_df, on = ['accountId'], how = 'outer')
    .fillna(0)
    .withColumn('maxPortfolioValue', F.greatest(F.col('initialPortfolioValue'), F.col('finalPortfolioValue')))
    .withColumn('type', F.when(F.col('maxPortfolioValue') < 10, 'lessThan10MT')
                         .when(F.col('maxPortfolioValue').between(10, 20), 'between10MTand20MT')
                         .when(F.col('maxPortfolioValue').between(20, 50), 'between20MTand50MT')
                         .otherwise('greaterThan50MT')
               )
    .select('accountId', 'type')
    .dropDuplicates()
)

display_df(max_portfolio_value_df)

7911435
+---------+------------+
|accountId|type        |
+---------+------------+
|2250     |lessThan10MT|
|15057    |lessThan10MT|
|29089    |lessThan10MT|
+---------+------------+
only showing top 3 rows

In [33]:
dates_list = price_df.select('date').distinct().orderBy('date').rdd.flatMap(lambda x: x).collect()

cash_time_series_df = (
    flat_trade_df
    .withColumn('netCash', F.col('cashIn') + F.col('cashOut'))
    .join(max_portfolio_value_df, on = 'accountId', how = 'inner')
    .groupBy('type', 'date')
    .agg(
        F.round((-F.sum('netCash'))).alias('netCash'),
        F.countDistinct('accountId').alias('nAccounts')
    )
    .orderBy('date', 'type')
)

display_df(cash_time_series_df)

1204
+------------------+--------+-------+---------+
|type              |date    |netCash|nAccounts|
+------------------+--------+-------+---------+
|between10MTand20MT|13980105|-1375.0|12701    |
|between20MTand50MT|13980105|-965.0 |14663    |
|greaterThan50MT   |13980105|76052.0|52860    |
+------------------+--------+-------+---------+
only showing top 3 rows

In [34]:
(
    cash_time_series_df.write.mode('overwrite').parquet(PATH_OUTPUT + 'cash_time_series.parquet')
)

## calculate returns

In [35]:
return_df = (
    gain_from_trade_df
    .join(initial_portfolio_value_df, on = 'accountId', how = 'outer')
    .join(final_portfolio_value_df, on = 'accountId', how = 'outer')
    .fillna(0, subset = ['netCashIn', 'netCashOut', 'initialPortfolioValue', 'finalPortfolioValue'])
    .withColumn('return', 
                ((F.col('finalPortfolioValue') + F.col('netCashOut')) / (F.col('initialPortfolioValue') + (-F.col('netCashIn')))) - 1)
    .filter(F.col('return').isNotNull())
    .withColumn('returnDecile', F.ntile(N_QUANTILES).over(Window.partitionBy().orderBy('return')))
)

display_df(return_df)
# null returns?

7913478
+---------+----------+-------------------+---------------------+-------------------+-------------------+------------+
|accountId|netCashOut|netCashIn          |initialPortfolioValue|finalPortfolioValue|return             |returnDecile|
+---------+----------+-------------------+---------------------+-------------------+-------------------+------------+
|204280   |0.0       |-0.513331          |0.0                  |0.0345891          |-0.9326183300833186|1           |
|8559295  |0.0       |-0.9588990000000001|0.0                  |0.064617           |-0.9326133409253738|1           |
|9290533  |0.0       |-3.9111000000000002|0.0                  |0.26607            |-0.9319705453708675|1           |
+---------+----------+-------------------+---------------------+-------------------+-------------------+------------+
only showing top 3 rows

In [36]:
(
    return_df
    .filter(F.col('return') == 0)
    .count()
)

99432

In [37]:
(
    return_df
    .groupBy('returnDecile')
    .agg(
        F.round(F.expr('percentile(return, array(0.5))')[0], 3).alias('medianReturn')
    )
    .show()
)

+------------+------------+
|returnDecile|medianReturn|
+------------+------------+
|           1|      -0.368|
|           2|      -0.047|
|           3|       0.102|
|           4|       0.371|
|           5|       1.002|
|           6|        1.86|
|           7|       3.118|
|           8|       3.808|
|           9|       6.265|
|          10|      10.341|
+------------+------------+

In [38]:
(
    return_df
    .agg(
       F.round(F.min('return'), 2).alias('min'),
        F.round(F.expr('percentile(return, array(0.01))')[0], 2).alias('1%'),
        F.round(F.expr('percentile(return, array(0.1))')[0], 2).alias('10%'),
        F.round(F.expr('percentile(return, array(0.25))')[0], 2).alias('25%'),
        F.round(F.expr('percentile(return, array(0.5))')[0], 2).alias('50%'),
        F.round(F.mean('return'), 2).alias('mean'),
        F.round(F.expr('percentile(return, array(0.75))')[0], 2).alias('75%'),
        F.round(F.expr('percentile(return, array(0.9))')[0], 2).alias('90%'),
        F.round(F.expr('percentile(return, array(0.99))')[0], 2).alias('99%'),
        F.round(F.expr('percentile(return, array(0.999))')[0], 2).alias('99.9%'),
    )
    .show()
)

+-----+-----+-----+---+----+----+----+----+-----+-----+
|  min|   1%|  10%|25%| 50%|mean| 75%| 90%|  99%|99.9%|
+-----+-----+-----+---+----+----+----+----+-----+-----+
|-0.93|-0.66|-0.18|0.1|1.33|2.81|3.81|7.55|16.35|32.14|
+-----+-----+-----+---+----+----+----+----+-----+-----+

In [39]:
(
    return_df.write.mode('overwrite').parquet(PATH_OUTPUT + '/return_output.parquet')
)

In [40]:
# return_df.filter(F.col('return') == return_df.select('return').rdd.max()[0]).show(20,False)

In [41]:
# (
#     price_df
#     .filter((F.col("symbol") == 'ودانا')&(F.col("date") > 13980305))
#     .orderBy("date")
#     .select(
#         F.col("date"),
#         F.col("close_price"),
#         F.col("close_price_adjusted"),
#     )
#     .show(20,False)
# )

### final portfolio value output

In [42]:
output_final_portfolio_value = (
    final_portfolio_value_df
    .join(return_df.select('accountId', 'return'), on = 'accountId')
    .withColumn('finalPortfolioValueDecile', F.ntile(N_QUANTILES).over(Window.partitionBy().orderBy('finalPortfolioValue')))
)

display_df(output_final_portfolio_value)

7895191
+---------+---------------------+---------------------+-------------------------+
|accountId|finalPortfolioValue  |return               |finalPortfolioValueDecile|
+---------+---------------------+---------------------+-------------------------+
|3698876  |8.848043335163424E-10|-0.005837849410928575|1                        |
|7474376  |2.9181321121080295E-9|0.006627693006516333 |1                        |
|1117034  |3.0065844718096814E-9|0.17832664319684666  |1                        |
+---------+---------------------+---------------------+-------------------------+
only showing top 3 rows

In [43]:
(
    output_final_portfolio_value
    .groupBy('finalPortfolioValueDecile')
    .agg(
        F.round(F.expr('percentile(finalPortfolioValue, array(0.5))')[0], 3).alias('medianFinalPortfolioValue'),
        F.round(F.mean('return'), 2).alias('meanReturn'),
        F.round(F.expr('percentile(return, array(0.5))')[0], 3).alias('medianReturn')
    )
    .orderBy('finalPortfolioValueDecile')
    .show()
)

+-------------------------+-------------------------+----------+------------+
|finalPortfolioValueDecile|medianFinalPortfolioValue|meanReturn|medianReturn|
+-------------------------+-------------------------+----------+------------+
|                        1|                     0.12|       2.3|       1.658|
|                        2|                    0.971|       3.4|       2.627|
|                        3|                     1.59|      2.99|       2.742|
|                        4|                    2.273|      2.84|       1.317|
|                        5|                    4.202|      3.03|       1.205|
|                        6|                    7.551|      2.84|       1.326|
|                        7|                   12.541|      2.64|       1.088|
|                        8|                   22.168|      2.66|       0.553|
|                        9|                   49.194|      2.89|       0.365|
|                       10|                  192.861|      2.58|       0.401|
+-------------------------+-------------------------+----------+------------+

In [44]:
(
    output_final_portfolio_value.write.mode('overwrite').parquet(PATH_OUTPUT + '/final_portfolio_output.parquet')
)

### initial portfolio value output

In [45]:
output_initial_portfolio_value = (
    initial_portfolio_value_df
    .join(return_df.select('accountId', 'return'), on = 'accountId')
    .withColumn('initialPortfolioValueDecile', F.ntile(N_QUANTILES).over(Window.partitionBy().orderBy('initialPortfolioValue')))
)

display_df(output_initial_portfolio_value)

4181527
+---------+---------------------+------+---------------------------+
|accountId|initialPortfolioValue|return|initialPortfolioValueDecile|
+---------+---------------------+------+---------------------------+
|724998   |3.0E-7               |0.0   |1                          |
|6109672  |1.0E-6               |0.0   |1                          |
|1316863  |1.0E-6               |0.0   |1                          |
+---------+---------------------+------+---------------------------+
only showing top 3 rows

In [46]:
(
    output_initial_portfolio_value
    .groupBy('initialPortfolioValueDecile')
    .agg(
        F.round(F.expr('percentile(initialPortfolioValue, array(0.5))')[0], 3).alias('medianInitialPortfolioValue'),
        F.round(F.mean('return'), 2).alias('meanReturn'),
        F.round(F.expr('percentile(return, array(0.5))')[0], 5).alias('medianReturn')
    )
    .orderBy('initialPortfolioValueDecile')
    .show()
)

+---------------------------+---------------------------+----------+------------+
|initialPortfolioValueDecile|medianInitialPortfolioValue|meanReturn|medianReturn|
+---------------------------+---------------------------+----------+------------+
|                          1|                      0.026|      4.84|     3.69906|
|                          2|                      0.112|      5.14|     4.04299|
|                          3|                      0.223|      5.15|     4.04757|
|                          4|                       0.38|      5.09|     3.92244|
|                          5|                      0.675|      4.83|     3.48387|
|                          6|                      1.017|      4.46|     3.55581|
|                          7|                       1.78|      4.75|     4.03294|
|                          8|                      3.311|      4.84|     3.73743|
|                          9|                      7.448|      4.35|      3.6283|
|                         10|                     32.268|      3.75|     2.73708|
+---------------------------+---------------------------+----------+------------+

In [47]:
(
    output_initial_portfolio_value.write.mode('overwrite').parquet(PATH_OUTPUT + '/inital_portfolio_output.parquet')
)

### calculate frequency of trades and active days

In [48]:
active_days_df = (
    adjusted_raw_flat_trade_df
    .groupBy('accountId', 'date')
    .agg(
        F.sum('cashIn').alias('netCashIn'),
        F.sum('cashOut').alias('netCashOut')
    )
    .withColumn('netCash', F.col('netCashIn') + F.col('netCashOut'))
    .groupBy('accountId')
    .agg(
        F.count(F.when(F.col('netCash') < 0, F.lit(1))).alias('nBuyDays'),
        F.count(F.when(F.col('netCash') > 0, F.lit(1))).alias('nSellDays')
    )
    .fillna(0, subset = ['nBuyDays', 'nSellDays'])
)

display_df(active_days_df)

4979581
+---------+--------+---------+
|accountId|nBuyDays|nSellDays|
+---------+--------+---------+
|5951543  |64      |83       |
|4895055  |136     |62       |
|14313153 |49      |32       |
+---------+--------+---------+
only showing top 3 rows

In [49]:
buy_trade_df = (
    trade_df
        .select(
        'date',
        'symbol',
        F.col('buyerAccountId').alias('accountId'),
        'nTradeShares',
        (-F.col('tradeSettlementValue')).alias('settlementValue'),
        )
)

sell_trade_df = (
    trade_df
        .select(
            'date',
            'symbol',
            F.col('sellerAccountId').alias('accountId'),
            (-F.col('nTradeShares')).alias('nTradeShares'),
            F.col('tradeSettlementValue').alias('settlementValue')
        )
)

In [50]:
trade_kpi_df = (
    buy_trade_df
    .union(sell_trade_df)
    .groupBy('accountId')
    .agg(
        F.count(F.lit(1)).alias('tradeFrequency'),
        F.mean(F.abs('settlementValue')).alias('meanTradeValue'),
        F.sum('settlementValue').alias('netSumTradeValue'),
        F.sum(F.abs('settlementValue')).alias('absSumTradeValue'),
        F.countDistinct('date').alias('activeDays'),
    )
    .join(active_days_df, on = 'accountId')
)

display_df(trade_kpi_df)

4979581
+---------+--------------+-------------------+--------------------+-------------------+----------+--------+---------+
|accountId|tradeFrequency|meanTradeValue     |netSumTradeValue    |absSumTradeValue   |activeDays|nBuyDays|nSellDays|
+---------+--------------+-------------------+--------------------+-------------------+----------+--------+---------+
|964      |455           |1.537797882197802  |-407.73298300000005 |699.6980363999999  |95        |76      |19       |
|1697     |2             |0.21709219999999999|-0.43418439999999997|0.43418439999999997|2         |2       |0        |
|1950     |167           |3.4412039586826344 |34.71054649999999   |574.6810611        |47        |26      |21       |
+---------+--------------+-------------------+--------------------+-------------------+----------+--------+---------+
only showing top 3 rows

In [51]:
(
    trade_kpi_df
    .agg(
        F.round(F.expr('percentile(tradeFrequency, array(0.25))')[0], 2).alias('25% percentile'),
        F.round(F.expr('percentile(tradeFrequency, array(0.5))')[0], 2).alias('50% percentile'),
        F.round(F.mean('tradeFrequency'), 2).alias('mean'),
        F.round(F.expr('percentile(tradeFrequency, array(0.75))')[0], 2).alias('75% percentile'),
        F.round(F.expr('percentile(tradeFrequency, array(0.9))')[0], 2).alias('90% percentile'),
        F.round(F.expr('percentile(tradeFrequency, array(0.99))')[0], 2).alias('99% percentile'),
        F.round(F.expr('percentile(tradeFrequency, array(0.999))')[0], 2).alias('99.9% percentile'),
    )
    .show()
)

+--------------+--------------+------+--------------+--------------+--------------+----------------+
|25% percentile|50% percentile|  mean|75% percentile|90% percentile|99% percentile|99.9% percentile|
+--------------+--------------+------+--------------+--------------+--------------+----------------+
|           3.0|          15.0|119.51|          57.0|         183.0|        1528.0|         8365.84|
+--------------+--------------+------+--------------+--------------+--------------+----------------+

In [52]:
(
    trade_kpi_df
    .agg(
        F.round(F.expr('percentile(activeDays, array(0.25))')[0], 2).alias('25% percentile'),
        F.round(F.expr('percentile(activeDays, array(0.5))')[0], 2).alias('50% percentile'),
        F.round(F.mean('activeDays'), 2).alias('mean'),
        F.round(F.expr('percentile(activeDays, array(0.75))')[0], 2).alias('75% percentile'),
        F.round(F.expr('percentile(activeDays, array(0.9))')[0], 2).alias('90% percentile'),
        F.round(F.expr('percentile(activeDays, array(0.99))')[0], 2).alias('99% percentile'),
        F.round(F.expr('percentile(activeDays, array(0.999))')[0], 2).alias('99.9% percentile'),
    )
    .show()
)

+--------------+--------------+-----+--------------+--------------+--------------+----------------+
|25% percentile|50% percentile| mean|75% percentile|90% percentile|99% percentile|99.9% percentile|
+--------------+--------------+-----+--------------+--------------+--------------+----------------+
|           2.0|           9.0|21.95|          28.0|          58.0|         161.0|           256.0|
+--------------+--------------+-----+--------------+--------------+--------------+----------------+

In [53]:
(
    trade_kpi_df
    .agg(
        F.round(F.expr('percentile(nBuyDays, array(0.25))')[0], 2).alias('25% percentile'),
        F.round(F.expr('percentile(nBuyDays, array(0.5))')[0], 2).alias('50% percentile'),
        F.round(F.mean('nBuyDays'), 2).alias('mean'),
        F.round(F.expr('percentile(nBuyDays, array(0.75))')[0], 2).alias('75% percentile'),
        F.round(F.expr('percentile(nBuyDays, array(0.9))')[0], 2).alias('90% percentile'),
        F.round(F.expr('percentile(nBuyDays, array(0.99))')[0], 2).alias('99% percentile'),
        F.round(F.expr('percentile(nBuyDays, array(0.999))')[0], 2).alias('99.9% percentile'),
    )
    .show()
)

+--------------+--------------+-----+--------------+--------------+--------------+----------------+
|25% percentile|50% percentile| mean|75% percentile|90% percentile|99% percentile|99.9% percentile|
+--------------+--------------+-----+--------------+--------------+--------------+----------------+
|           2.0|           7.0|13.93|          19.0|          35.0|          89.0|           138.0|
+--------------+--------------+-----+--------------+--------------+--------------+----------------+

In [54]:
(
    trade_kpi_df
    .agg(
        F.round(F.expr('percentile(nSellDays, array(0.25))')[0], 2).alias('25% percentile'),
        F.round(F.expr('percentile(nSellDays, array(0.5))')[0], 2).alias('50% percentile'),
        F.round(F.mean('nSellDays'), 2).alias('mean'),
        F.round(F.expr('percentile(nSellDays, array(0.75))')[0], 2).alias('75% percentile'),
        F.round(F.expr('percentile(nSellDays, array(0.9))')[0], 2).alias('90% percentile'),
        F.round(F.expr('percentile(nSellDays, array(0.99))')[0], 2).alias('99% percentile'),
        F.round(F.expr('percentile(nSellDays, array(0.999))')[0], 2).alias('99.9% percentile'),
    )
    .show()
)

+--------------+--------------+----+--------------+--------------+--------------+----------------+
|25% percentile|50% percentile|mean|75% percentile|90% percentile|99% percentile|99.9% percentile|
+--------------+--------------+----+--------------+--------------+--------------+----------------+
|           0.0|           2.0|8.03|           9.0|          23.0|          75.0|           132.0|
+--------------+--------------+----+--------------+--------------+--------------+----------------+

In [55]:
print(trade_kpi_df.count() - trade_kpi_df.dropna().count())

0

In [56]:
trade_output_df = (
    trade_kpi_df
    .join(return_df.select('accountId', 'return').dropDuplicates(), on = ['accountId'])
    .dropna()
    .withColumn('tradeFrequencyDecile', F.ntile(N_QUANTILES).over(Window.partitionBy().orderBy('tradeFrequency')))
    .withColumn('meanTradeValueDecile', F.ntile(N_QUANTILES).over(Window.partitionBy().orderBy('meanTradeValue')))
    .withColumn('netSumTradeValueDecile', F.ntile(N_QUANTILES).over(Window.partitionBy().orderBy('netSumTradeValue')))
    .withColumn('absSumTradeValueDecile', F.ntile(N_QUANTILES).over(Window.partitionBy().orderBy('absSumTradeValue')))
    .withColumn('activeDaysDecile', F.ntile(N_QUANTILES).over(Window.partitionBy().orderBy('activeDays')))
    .withColumn('nBuyDaysDecile', F.ntile(N_QUANTILES).over(Window.partitionBy().orderBy('nBuyDays')))
    .withColumn('nSellDaysDecile', F.ntile(N_QUANTILES).over(Window.partitionBy().orderBy('nSellDays')))
)

display_df(trade_output_df)

4939239
+---------+--------------+--------------+----------------+----------------+----------+--------+---------+-----------------+--------------------+--------------------+----------------------+----------------------+----------------+--------------+---------------+
|accountId|tradeFrequency|meanTradeValue|netSumTradeValue|absSumTradeValue|activeDays|nBuyDays|nSellDays|return           |tradeFrequencyDecile|meanTradeValueDecile|netSumTradeValueDecile|absSumTradeValueDecile|activeDaysDecile|nBuyDaysDecile|nSellDaysDecile|
+---------+--------------+--------------+----------------+----------------+----------+--------+---------+-----------------+--------------------+--------------------+----------------------+----------------------+----------------+--------------+---------------+
|3111055  |2             |4.53E-5       |0.0             |9.06E-5         |1         |0       |0        |4.234237899220019|2                   |1                   |9                     |1                     |1               |1             |1              |
|3798719  |2             |4.56E-5       |0.0             |9.12E-5         |1         |0       |0        |6.091806591117347|2                   |1                   |9                     |1                     |1               |1             |1              |
|5401413  |2             |4.6E-5        |0.0             |9.2E-5          |1         |0       |0        |0.0              |2                   |1                   |9                     |1                     |1               |1             |1              |
+---------+--------------+--------------+----------------+----------------+----------+--------+---------+-----------------+--------------------+--------------------+----------------------+----------------------+----------------+--------------+---------------+
only showing top 3 rows

In [57]:
(
    trade_output_df
    .agg(
        F.round(F.expr('percentile(return, array(0.5))')[0], 3).alias('medianReturn')
    )
    .show()
)

+------------+
|medianReturn|
+------------+
|       0.287|
+------------+

In [58]:
(
    trade_output_df
    .groupBy('tradeFrequencyDecile')
    .agg(
        F.round(F.expr('percentile(return, array(0.5))')[0], 3).alias('medianReturn')
    )
    .orderBy('tradeFrequencyDecile')
    .show()
)

+--------------------+------------+
|tradeFrequencyDecile|medianReturn|
+--------------------+------------+
|                   1|       3.118|
|                   2|       2.717|
|                   3|       0.849|
|                   4|       0.216|
|                   5|       0.146|
|                   6|       0.278|
|                   7|       0.327|
|                   8|       0.251|
|                   9|       0.133|
|                  10|       0.111|
+--------------------+------------+

In [59]:
(
    trade_output_df.write.mode('overwrite').parquet(PATH_OUTPUT + '/trade_output.parquet')
)

### identify block holders

In [60]:
bh_df = (
    daily_portfolio_df
    .select('date', 'symbol', 'accountId', 'heldShares')
    .join(price_df.select('date', 'symbol', 'shrout'), on = ['date', 'symbol'])
    .withColumn('ownership', F.col('heldShares') / F.col('shrout'))
    .filter( (F.col('ownership') >= 0.01) & F.col('ownership').isNotNull() )
    .select('accountId')
    .distinct()
    .withColumn('isBH', F.lit(1))
)

display_df(bh_df)

18591
+---------+----+
|accountId|isBH|
+---------+----+
|12726878 |1   |
|1284615  |1   |
|7341968  |1   |
+---------+----+
only showing top 3 rows

In [61]:
bh_output_df = (
    return_df
    .select('accountId', 'return')
    .dropna()
    .join(bh_df, on = 'accountId', how = 'left')
    .fillna(0, 'isBH')
)

display_df(bh_output_df)

7913478
+---------+-------------------+----+
|accountId|return             |isBH|
+---------+-------------------+----+
|204280   |-0.9326183300833186|0   |
|8559295  |-0.9326133409253738|0   |
|9290533  |-0.9319705453708675|0   |
+---------+-------------------+----+
only showing top 3 rows

In [62]:
(
    bh_output_df
    .groupBy('isBH')
    .agg(
        F.round(F.expr('percentile(return, array(0.5))')[0], 3).alias('medianTradeFrequency')
    )
    .show()
)

+----+--------------------+
|isBH|medianTradeFrequency|
+----+--------------------+
|   0|               1.328|
|   1|               0.492|
+----+--------------------+

In [63]:
(
    bh_output_df.write.mode('overwrite').parquet(PATH_OUTPUT + '/bhOutput.parquet')
)

### number of stocks within initial portfolio

In [64]:
n_stocks_within_initial_portfolio_df = (
    portfolio_df
    .groupBy('accountId')
    .agg(
        F.count(F.lit(1)).alias('nStocksWithinInitialPortfolio')
    )
    .dropna()
)

display_df(n_stocks_within_initial_portfolio_df)

4217770
+---------+-----------------------------+
|accountId|nStocksWithinInitialPortfolio|
+---------+-----------------------------+
|541478   |1                            |
|13942931 |6                            |
|1457238  |3                            |
+---------+-----------------------------+
only showing top 3 rows

In [65]:
n_stocks_within_initial_portfolio_output_df = (
    return_df
    .select('accountId', 'return')
    .dropna()
    .join(n_stocks_within_initial_portfolio_df, on = 'accountId', how = 'inner')
    .withColumn('nStocksWithinInitialPortfolioDecile', F.ntile(N_QUANTILES).over(Window.partitionBy().orderBy('nStocksWithinInitialPortfolio')))
)

display_df(n_stocks_within_initial_portfolio_output_df)

4208853
+---------+------------------+-----------------------------+-----------------------------------+
|accountId|return            |nStocksWithinInitialPortfolio|nStocksWithinInitialPortfolioDecile|
+---------+------------------+-----------------------------+-----------------------------------+
|26       |6.7002053388090355|1                            |1                                  |
|1677     |2.405136702568351 |1                            |1                                  |
|3764     |2.084406294706724 |1                            |1                                  |
+---------+------------------+-----------------------------+-----------------------------------+
only showing top 3 rows

In [66]:
(
    n_stocks_within_initial_portfolio_output_df
    .groupBy('nStocksWithinInitialPortfolioDecile')
    .agg(
        F.round(F.expr('percentile(return, array(0.5))')[0], 3).alias('medianReturn')
    )
    .orderBy('nStocksWithinInitialPortfolioDecile')
    .show()
)

+-----------------------------------+------------+
|nStocksWithinInitialPortfolioDecile|medianReturn|
+-----------------------------------+------------+
|                                  1|       3.974|
|                                  2|       3.983|
|                                  3|       3.968|
|                                  4|       3.945|
|                                  5|       3.968|
|                                  6|       3.945|
|                                  7|       3.917|
|                                  8|        3.81|
|                                  9|       2.418|
|                                 10|       0.748|
+-----------------------------------+------------+

In [67]:
(
    n_stocks_within_initial_portfolio_output_df.write.mode('overwrite').parquet(PATH_OUTPUT + '/n_initial_portfolio.parquet')
)

### number of stocks within final portfolio

In [68]:
n_stocks_within_final_portfolio_df = (
    daily_portfolio_df
    .withColumn('rowNumber', F.row_number().over(Window.partitionBy('accountId', 'symbol').orderBy('date')))
    .withColumn('maxRowNumber', F.max('rowNumber').over(Window.partitionBy('accountId', 'symbol')))
    .filter(F.col('rowNumber') == F.col('maxRowNumber'))
    .filter(F.col('heldShares') > 0)
    .withColumn('date', F.lit(MAX_PRICE_DATE))
    .join(price_df.select('date', 'symbol', 'close_price'), on = ['date', 'symbol'], how = 'left')
    .dropna(subset = ['close_price'])
    .groupBy('accountId')
    .agg(
        F.countDistinct('symbol').alias('nStocksWithinFinalPortfolio')
    )   
)

display_df(n_stocks_within_final_portfolio_df)

7895191
+---------+---------------------------+
|accountId|nStocksWithinFinalPortfolio|
+---------+---------------------------+
|3305619  |33                         |
|3873383  |40                         |
|6391901  |42                         |
+---------+---------------------------+
only showing top 3 rows

In [69]:
n_stocks_within_final_portfolio_output_df = (
    return_df
    .select('accountId', 'return')
    .dropna()
    .join(n_stocks_within_final_portfolio_df, on = 'accountId', how = 'inner')
    .withColumn('nStocksWithinFinalPortfolioDecile', F.ntile(N_QUANTILES).over(Window.partitionBy().orderBy('nStocksWithinFinalPortfolio')))
)

display_df(n_stocks_within_final_portfolio_output_df)

7895191
+---------+------------------+---------------------------+---------------------------------+
|accountId|return            |nStocksWithinFinalPortfolio|nStocksWithinFinalPortfolioDecile|
+---------+------------------+---------------------------+---------------------------------+
|26       |6.7002053388090355|1                          |1                                |
|1677     |2.405136702568351 |1                          |1                                |
|3506     |3.1175450762829398|1                          |1                                |
+---------+------------------+---------------------------+---------------------------------+
only showing top 3 rows

In [70]:
(
    n_stocks_within_final_portfolio_output_df
    .groupBy('nStocksWithinFinalPortfolioDecile')
    .agg(
        F.round(F.expr('percentile(return, array(0.5))')[0], 3).alias('medianReturn')
    )
    .orderBy('nStocksWithinFinalPortfolioDecile')
    .show()
)

+---------------------------------+------------+
|nStocksWithinFinalPortfolioDecile|medianReturn|
+---------------------------------+------------+
|                                1|       3.699|
|                                2|       3.699|
|                                3|       3.699|
|                                4|       3.693|
|                                5|       2.742|
|                                6|       1.041|
|                                7|       0.204|
|                                8|       0.233|
|                                9|       0.238|
|                               10|       0.154|
+---------------------------------+------------+

In [71]:
(
    n_stocks_within_final_portfolio_output_df.write.mode('overwrite').parquet(PATH_OUTPUT + '/n_final_portfolio.parquet')
)

### turnover

In [72]:
turnover_df = (
    trade_kpi_df
    .join(final_portfolio_value_df, on =['accountId'], how = 'right')
    .fillna(0, subset = ['absSumTradeValue'])
    .withColumn('turnover', F.col('absSumTradeValue') / F.col('finalPortfolioValue'))
    .join(return_df.select('accountId', 'return'), on = 'accountId')
    .withColumn('turnoverDecile', F.ntile(N_QUANTILES).over(Window.partitionBy().orderBy(F.col('turnover'))))
    .select(
        'accountId',
        'turnover',
        'turnoverDecile',
        'return'
    )
)

display_df(turnover_df)

7895191
+---------+--------+--------------+------------------+
|accountId|turnover|turnoverDecile|return            |
+---------+--------+--------------+------------------+
|26       |0.0     |1             |6.7002053388090355|
|1677     |0.0     |1             |2.405136702568351 |
|2453     |0.0     |1             |6.066842661350965 |
+---------+--------+--------------+------------------+
only showing top 3 rows

In [73]:
(
    turnover_df
    .groupBy('turnoverDecile')
    .agg(
        F.round(F.expr('percentile(return, array(0.5))')[0], 3).alias('medianReturn')
    )
    .orderBy('turnoverDecile')
    .show()
)

+--------------+------------+
|turnoverDecile|medianReturn|
+--------------+------------+
|             1|       4.535|
|             2|       4.519|
|             3|       4.519|
|             4|       4.384|
|             5|       2.723|
|             6|       0.508|
|             7|       -0.01|
|             8|       0.022|
|             9|       0.086|
|            10|        0.11|
+--------------+------------+

In [74]:
(
    turnover_df.write.mode('overwrite').parquet(PATH_OUTPUT + '/turnover.parquet')
)